.threeSquareBoard .box {
    width: 100px;
    height: 100px;
    font-size: 30px;
    padding-top: 26px;
    margin-bottom: 0px !important;
    border: 1px solid lightseagreen !important;
}

.sixSquareBoard .box {
    width: 80px !important;
    height: 80px;
    font-size: 30px;
    padding-top: 17px;
    margin-bottom: 0px !important;
    border: 1px solid lightseagreen !important;
}

.box{

}